{
  "presets": [
    [
      {  "presets": ["es2015"] },
      "@babel/env",
      "@babel/preset-typescript",
      {
        "targets": {
          "node": "current",
        },
      },
    ],
  ],
}
