# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env_test
.env_backup
.env.local
.env.test
.env.test.backup
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.idea/housing-company.iml


.sass-cache/
*css
*styles.css.map


public/script.js
public/script2.js

cypress/videos
