.header {
  //width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: row;
  padding: 20px 80px;
  margin: 10px;
  font-size: 20px;

  background-color: black;
  color: white;
  font-size: 20px;

  .item {
    margin: 20px;
    color: white;

    &:hover {
      opacity: 0.8;
      color: black;
      background-color: white;
    }
  }
}
